@font-face
{
    font-family: 'Archivo';
    src: url('../../fonts/Archivo-VariableFont_wdth,wght.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
.font-face-arc {
    font-family: "Archivo";
}
html {
  /*background-color: rgb(32, 34, 37);*/
  color: #fff;
}

body {
  margin: 0;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

/*.split {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}
