@font-face
{
    font-family: 'Archivo';
    src: url('../../fonts/Archivo-VariableFont_wdth,wght.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
.font-face-arc {
    font-family: "Archivo";
}
html {
  /*background-color: rgb(32, 34, 37);*/
  /*color: #fff;*/
}

body {
  margin: 0;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

/*.container {*/
/*  display: grid;*/
/*  grid-template-columns: 70vw 30vw;*/
/*  grid-template-rows: 80vh 15vh 5vh;*/
/*}*/

/*.subtitle {*/
/*  grid-column: 2 / span 1;*/
/*  grid-row: 1 / span 2;*/
/*}*/
/*.menu{*/
/*  grid-column: 2 / span 1;*/
/*  grid-row: 3 / span 1;*/
/*}*/
/*.underline-subtitle {*/
/*  grid-column: 1 / span 1;*/
/*  grid-row: 1 / span 2;*/
/*  height: 20vh;*/
/*}*/

/*.player {*/
/*  height: 100%;*/
/*}*/

/*.underline-subtitle {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  grid-row: 2 /span2;*/
/*}*/
