.bg-bg-bg {
    /*background: linear-gradient(-45deg, #c7d2fe, #bae6fd, #fecdd3, #a7f3d0);*/
    background: linear-gradient(-45deg, rgba(199, 210, 254, 0.8), rgba(254, 205, 211, 0.8), rgba(199, 210, 254, 0.8), rgba(254, 205, 211, 0.8));
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
