.mainSubtitleContainer {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    text-align: center;
}

.destM {
    margin: 0px 40px;
    font-size: 1.8em;
    padding: 10px 40px;
    /*background-color: rgb(28, 29, 31);*/
    /*background-color: rgb(46, 49, 54);*/
}

.destH {
    margin: 0px 40px;
    font-size: 1.5em;
    padding: 10px 40px;
    /*border-radius: 5px;*/
    background-color: rgb(46, 49, 54);
}
