.subtitleBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.subtitleItem {
    background-color: rgba(46, 49, 54, 0.5);
    margin: 5px 5px;
    padding: 8px 0;
    border: 0;
    border-radius: 5px;
    display: flex;
    font-size: 1.2em;
}

.subtitleItem:hover {
    background-color: rgb(57, 61, 66);
}

.subtitleItemIcon {
    text-align: center;
    width: 40px;
    visibility: hidden;

}

.subtitleItemText {
    text-align: center;
    width: 100%;

}
